.logo {
  color: #ffffff;
  float: left;
  padding-left: 24px;
  background: #3dbbb4;
}

.ant-layout-header .ant-menu {
  color: #ffffff;
  background: #3dbbb4;
}
.ant-layout-header .ant-menu {
  height: 65px;
}
